<div class="wrapper">
<div class="row">
  <div class="col-md-12">
    <h1>
      My Practices
      <a class="btn btn-success">Add practice</a>
    </h1>

    <div ng-show="practices.length">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <!--<th>Type</th>-->
            <th>Description</th>
            <th>Experience Reward</th>
            <!--<th>Required Experience</th>-->
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="practice in practices">
            <div ng-hide="">
              <td>{{ practice.title }}</td>
              <!--<td>{{ practice.type }}</td>-->
              <td>{{ practice.description }}</td>
              <td>{{ practice.experience }}</td>
              <!--<td>{{ practice.threshold }}</td>-->
              <td>
                <a class="btn btn-primary btn-xs" ui-sref="/practice({ practiceID: practice.id })">Start</a>
              </td>
            </div>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>